.marketBanner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  app-carousel-slide {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    margin: 0 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    outline: none;

    &:hover {
      i {
        color: #e5493a;
      }
    }

    i {
      font-size: 64px;
      color: #707070;
    }
  }
  .prev_image {
    left: 0;
  }

  .next_image {
    right: 0;
  }
}

