<header class="header">
  <div class="container">
    <div class="logo">
      <img src="./assets/Logo.png" alt="logo">
    </div>
    <app-menu-header></app-menu-header>
    <div class="header__icons">
      <button class="open__cart header__icons__button" (click)="isViewCart($event)"><i class="fa fa-shopping-cart"></i>
      </button>
      <button class="sign__in header__icons__button" (click)="signIn()"><i class="fa fa-sign-in"></i></button>
      <button class="sign__out header__icons__button" (click)="signOut()"><i class="fa fa-sign-out"></i></button>
      <div class="drop__cart" (click)="isViewCart($event)" *ngIf="isCart">
        <div class="cart" (click)="stopProp($event)">
          <div class="cart__totals">
            <button routerLink="/delivery">To Buy page</button>
            <p>Total price: {{totalCartPrice}} $</p>
          </div>
          <p class="empty__cart" *ngIf="isCartEmpty(); else items">Cart is empty</p>
          <ng-template #items>
            <div class="cart__item" *ngFor="let car of carsArray; let i = index">
              <img src="{{car?.image}}" loading="lazy" alt="" class="cart__item__image">
              <div class="cart__item__func">
                <h2 class="cart__item__title">{{car.name}} {{car.surname}}</h2>
                <p class="cart__item__price">{{car.price}}$</p>
                <button class="cart__item__delete" (click)="deleteFromCart(i)"><i class="fa fa-close"></i> remove</button>
              </div>
            </div>
          </ng-template>


        </div>
      </div>
    </div>

  </div>
</header>
