/* You can add global styles to this file, and also import other style files */
@import "assets/font-awesome-4.7.0/css/font-awesome.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-account{
  display: flex;
  flex-direction: column;
  align-items: center;
}
app-info-acc{
  width: 100%;
}
app-wish-list{
  width: 100%;
}
app-payment{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

