.container{
  width: 100%;
  max-width: 1500px;
  display: flex;
  height: 90vh;
  .account__menu{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
      .menu__point__block{
        width: 100%;
        border-bottom: 1px solid black;
        margin-top: 10px;
        padding-bottom: 3px;
        display: flex;
        justify-content: space-between;
        .menu__point{
          font-size: 30px;
          font-family: 'Robot', sans-serif;
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
        }
        i{
          display: flex;
          align-items: center;
        }
        &:hover{
          color: #e5493a;
          border-bottom: 1px solid #e5493a;;
        }
      }

  }
  .account__content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}



//.create__car__form{
//  display: flex;
//  flex-direction: column;
//  justify-content: space-around;
//  align-items: start;
//  height: 100vh;
//  width: 80%;
//  .price{
//    width: 20%;
//    padding: 10px;
//  }
//  .comment{
//    width: 100%;
//    height:100px;
//    font-size: 20px;
//  }
//  input{
//    outline: none;
//    font-size: 30px;
//    text-align: center;
//  }
//  .characteristics{
//    width: 100%;
//    display: flex;
//    justify-content: space-between;
//    .engine__capacity,
//    .engine__power,
//    .release__date{
//      padding: 20px;
//      width: 21%;
//      font-size: 20px;
//
//    }
//  }
//  .car__name{
//    width: 100%;
//    display: flex;
//    justify-content: space-between;
//    .name,.surname{
//      width: 40%;
//      padding: 20px;
//    }
//  }
//  .comment{
//    width: 40%;
//    padding: 10px;
//  }
//  .add__car{
//    width: 20%;
//    padding: 20px;
//    background-color: black;
//    color: white;
//    font-size: 25px;
//    cursor: pointer;
//  }
//}
