<div class="container">
  <div class="account__menu">
    <div class="menu__point__block">
      <button class="main__info menu__point" routerLink="/infoAcc">Main info</button>
      <i class="fa fa-home"></i></div>
    <div class="menu__point__block">
      <button class="contact__delivery__info menu__point" routerLink="/delivery">Contact</button>
      <i class="fa fa-credit-card"></i></div>
    <div class="menu__point__block">
      <button class="wishlist menu__point" routerLink="/wishList">Wishlist</button>
      <i class="fa fa-heart"></i></div>
    <div class="menu__point__block">
      <button class="orders__list menu__point" routerLink="/orders">Orders</button>
      <i class="fa fa-first-order"></i></div>
    <div class="menu__point__block">
      <button class="payment menu__point" routerLink="/payment">Payment</button>
      <i class="fa fa-credit-card"></i></div>
  </div>
  <div class="account__content">
    <router-outlet></router-outlet>
  </div>
  <!--  <form class="create__car__form" [formGroup]="addCarForm" (submit)="onSubmit()" *ngIf="isHidden == true">-->
  <!--    <div class="car__name">-->
  <!--      <input type="text" class="name" formControlName="name" placeholder="Car name" />-->
  <!--      <input type="text" class="surname" formControlName="surname" placeholder="Car surname" />-->
  <!--    </div>-->
  <!--    <div class="characteristics">-->
  <!--      <input type="number" class="engine__capacity" formControlName="engineCapacity" placeholder="Engine capacity"/>-->
  <!--      <input type="text" class="engine__power" formControlName="enginePower" placeholder="Engine power"/>-->
  <!--      <input type="text" class="release__date" formControlName="releaseDate" placeholder="Release date"/>-->
  <!--    </div>-->
  <!--    <input type="number" class="price" formControlName="price" placeholder="price in $"/>-->
  <!--    <input type="number" class="sale" formControlName="sale" placeholder=" sale %">-->
  <!--    <textarea class="comment" formControlName="image" placeholder="Comment"></textarea>-->
  <!--    <button type="submit" class="add__car">Добавить</button>-->
  <!--    <button routerLink="/delivery">Перейти к доставке</button>-->
  <!--    <button class="enter__promocode__btn" (click)="isPromocode = true">Ввести промокод</button>-->
  <!--  </form>-->
</div>

<!--<div>-->
<!--  {{addCarForm.value | json}}-->
<!--</div>-->
