<div class="catalog__item">
  <div class="container">
    <div class="image" [ngStyle]="{'background-image': 'url(' + car?.image + ')'}"></div>
    <div class="description">
      <h2 class="name__car">{{car?.name}} {{car?.surname}}</h2>
      <p class="comment">{{car?.comment}}</p>
      <div class="buy__price">
        <p class="price">{{car?.price}}$</p>
        <button class="buy__car" routerLink="/details/{{car.uid}}" >View Details</button>
        <button class="add__to__cart" (click)="addToCart()">To Cart</button>
        <button class="add__to__cart" (click)="addToComparisonList()">To Compare</button>
      </div>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
